*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: #000;
    margin: 10px;
}

.logo {
    width: 250px;
    padding: 8px;
    margin: 30px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    background-color: #EDF3FB;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    padding: 40px 60px 20px 60px;
    text-align: left;
}


.form input, select{
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border:0;
    margin-bottom: 30px;
}


.form input[type="submit"]{
    background-color: #0f79af;
    color: #f0f0f0;
}

.criar{
    margin-bottom: 20px;
    margin-right: 50px;

}


.button {
    background-color: #0f79af;
    color: rgb(255, 255, 255);
    border: 2px solid #0f79af; 
    padding: 1px 123px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  p{
    position: absolute;
    top: 23.5em;
    left: 45.5em;
  }
  
  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: white;
    color: black;
  }
